* {
  box-sizing: border-box;
}

html {
  background-color: rgb(47, 127, 255);
}

body{
  display: flex;
  flex-direction: column;
  margin: 3% 20% 0 20%;
  color: white;
}
h1, h2, p, div{
  align-self: center;
}

h1 {
  margin-bottom: 0;
  font-size: 5rem;
  font-style: italic;
}